/*----------Global Styles------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background-color: #F8FAFC;
    color: #1E293B;
}

/*----------Navigation bar------------*/

.header {
    background-color: #0F172A;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar {
    max-width: 1200px;
    margin: 0 auto;
    padding: 18px 30px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #FFFFFF;
    text-decoration: none;

    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 0.5px;
}

.nav-links {
    list-style: none;

    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-links a {
    color: #FFFFFF;
    text-decoration: none;

    font-size: 0.95rem;
    font-weight: 500;

    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #38BDF8;
}

.menu-toggle {

    display: none;
    background: transparent;
    border: none;
    color: #FFFFFF;
    font-size: 1.8rem;
    cursor: pointer;
}

/*---------- Responsive Navbar---------- */

@media (max-width: 768px) {

    .navbar {
        padding: 16px 20px;
    }

    .menu-toggle {
        display: block;
    }

    .nav-links {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #0F172A;
        flex-direction: column;
        gap: 0;
        padding: 20px 0;
        display: none;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        width: 100%;
        text-align: center;
    }

    .nav-links li {
        display: block;
        padding: 15px;
    }

}


