/* =========================
   RESET
========================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", sans-serif;
    background: #080812;
    color: #ffffff;
    line-height: 1.6;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

button,
input,
textarea,
select {
    font: inherit;
}

.container {
    width: min(1150px, 90%);
    margin: auto;
}


/* ======NavBar====== */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: rgba(8, 8, 18, 0.8);
    backdrop-filter: blur(18px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.06);
}

.nav-container {
    height: 76px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 1.4rem;
    font-weight: 800;
    letter-spacing: -0.7px;
}

.logo span {
    color: #8b6cff;
}

.nav-links ul li{
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-links ul li a {
    color: #aaaaba;
    font-size: 0.88rem;
    transition: 0.3s;
}

.nav-links ul li a:hover {
    color: #ffffff;
}

.nav-btn {
    background: #7c5cff;
    padding: 10px 19px;
    border-radius: 8px;
    font-size: 0.85rem;
    font-weight: 600;
    transition: 0.3s;
}

.nav-btn:hover {
    background: #9278ff;
    transform: translateY(-2px);
}

.menu-btn {
    display: none;
    background: transparent;
    border: none;
    color: white;
    font-size: 1.7rem;
    cursor: pointer;
}
