* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", sans-serif;
    background: #080812;
    color: #ffffff;
    line-height: 1.6;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

button,
input,
textarea,
select {
    font: inherit;
}

.container {

    /*width: min(1500px, 90%);*/
    width: min(1150px, 90%);
    margin: auto;
}


/* ====== NavBar ====== */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: rgba(8, 8, 18, 0.8);
    /*backdrop-filter: blur(18px);*/
    border-bottom: 1px solid rgba(255, 255, 255, 0.06);
}

.nav-container {
    height: 76px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 1.4rem;
    font-weight: 800;
    letter-spacing: -0.7px;
}

.logo span {
    color: #8b6cff;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-links a {
    color: #aaaaba;
    font-size: 0.88rem;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #ffffff;
}

.nav-btn {
    background: #7c5cff;
    padding: 10px 19px;
    border-radius: 8px;
    font-size: 0.85rem;
    font-weight: 600;
    transition: 0.3s;
}

.nav-btn:hover {
    background: #9278ff;
    transform: translateY(-2px);
}

.menu-btn {
    display: none;
    background: transparent;
    border: none;
    color: white;
    font-size: 1.7rem;
    cursor: pointer;
}

/* ====== Hero ====== */

.hero {
    position: relative;
    min-height: 720px;
    display:flex;
    align-items: center;
    overflow: hidden;
    padding-top: 76px;

}

.hero-bg {
    position: absolute;
    width: 700px;
    height: 700px;
    background: radial-gradient(
        circle,
        rgba(111, 76, 255, 0.18),
        transparent 65%
    );
    top: -200px;
    right: -100px;
}

.hero-container {
    display: grid;
    grid-template-columns: 1.1fr 0.9fr;
    align-items: center;
    gap: 40px;
}


.hero-content {
    position: relative;
    z-index: 2;
}

.hero-badge {
    display: inline-block;
    color: #a993ff;
    background: rgba(124, 92, 255, 0.1);
    border:1px solid rgba(124, 92, 255, 0.25);
    padding: 7px 13px;
    border-radius: 50px;
    font-size: 0.78rem;
    margin-bottom: 22px;
}

.hero h1 {
    font-size: clamp(3rem, 6vw, 5.3rem);
    line-height: 1.03;
    letter-spacing: -4px;
    max-width: 700px;
}

.hero h1 span,
.section-heading h2 span,
.growth-content h2 span,
.about-content h2 span,
.contant-content h2 span {
    color: #8b6cff;
}

.hero-content > p {
    color: #a7a7b7;
    max-width: 610px;
    margin: 25px 0;
    font-size: 1rem;
}

.hero-btns {
    display: flex;
    gap: 13px;
    flex-wrap: wrap;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 13px 21px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 0.88rem;
    transition: 0.3s;
}

.btn-one {
    background: #7c5cff;
    color: white;
}

.btn-one:hover {
    background: #9278ff;
    transform: translateY(-3px);
}

.btn-two {
    border: 1px solid #30303e;
    color: #ddd;
}

.btn-two:hover {
    border-color: #7c5cff;
    color: #ffffff;
}

/* ====== Hero Visual ====== */

.hero-visual {
    height: 500px;
    position: relative;
    display: grid;
    place-items: center;
}

.ai-circle {
    width: 330px;
    height: 330px;
    border-radius: 50%;
    position: relative;
    display: grid;
    place-items: center;
}

.circle-ring {
    position: absolute;
    border: 1px solid rgba(124, 92, 255, 0.35);
    border-radius: 50%;
}

.ring-one {
    inset: 10px;
    animation: rotate 18s linear infinite;
}

.ring-two {
    inset: 45px;
    border-style: dashed;
    animation: rotateReverse 14s linear infinite;
}

.ai-core {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: radial-gradient(
        circle at 35% 30%,
        #9b82ff,
        #4b2bb6
    );
    box-shadow:
        0 0 70px rgba(124, 92, 255, 0.5),
        inset 0 0 30px rgba(255, 255, 255, 0.2);
    display: grid;
    place-items: center;
    align-content: center;
}

.ai-core span {
    font-size: 2.7rem;
    font-weight: 800;
}

.ai-core small {
    font-size: 0.55rem;
    letter-spacing: 4px;
    color: #ddd;
}

.orbit-dot {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #a28cff;
    box-shadow: 0 0 15px #7c5cff;
}

.dot-one {
    top: 22px;
    right: 65px;
}

.dot-two {
    bottom: 35px;
    left: 45px;
}

.dot-three {
    top: 110px;
    left: 10px;
}



/* ====== Stats ====== */

.stats-section {
    border-top: 1px solid #181824;
    border-bottom: 1px solid #181824;
    background: #0c0c16;
}

.stats-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.stat {
    text-align: center;
    padding: 28px 10px;
    border-right: 1px solid #191924;
}

.stat:last-child {
    border-right: none;
}

.stat strong {
    display: block;
    font-size: 1.8rem;
    color: #9a85ff;
}

.stat span {
    color: #777789;
    font-size: 0.72rem;
}

/* ====== Sections ======*/

.section {
    padding: 110px 0;
}

.section-heading {
    max-width: 650px;
    margin-bottom: 50px;
}

.section-heading.centered {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.section-label {
    color: #8b6cff;
    font-size: 0.7rem;
    font-weight: 700;
    letter-spacing: 2px;
}

.section-heading h2,
.growth-content h2,
.about-content h2,
.contact-content h2 {
    font-size: clamp(2rem, 4vw, 3.3rem);
    line-height: 1.15;
    letter-spacing: -2px;
    margin: 12px 0 18px;
}

.section-heading p,
.growth-content > p,
.about-content > p,
.contact-content > p {
    color: #858595;
    font-size: 0.92rem;
}


.services {
    background: #080812;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.service-card {
    position: relative;
    padding: 30px;
    min-height: 275px;
    background: #0d0d18;
    border: 1px solid #1b1b29;
    border-radius: 12px;
    transition: 0.35s;
    overflow: hidden;
}

.service-card:hover {
    transform: translateY(-6px);
    border-color: rgba(124, 92, 255, 0.5);
}

.service-card.featured {
    background:
        linear-gradient(
            145deg,
            rgba(124, 92, 255, 0.18),
            #0d0d18
        );
    border-color: rgba(124, 92, 255, 0.35);
}

.service-icon {
    width: 43px;
    height: 43px;
    display: grid;
    place-items: center;
    background: rgba(124, 92, 255, 0.12);
    color: #a18cff;
    border-radius: 9px;
    font-size: 1.2rem;
    margin-bottom: 25px;
}

.service-number {
    position: absolute;
    top: 30px;
    right: 30px;
    color: #343442;
    font-size: 0.7rem;
    font-weight: 700;
}

.service-card h3 {
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.service-card p {
    color: #777787;
    font-size: 0.82rem;
    line-height: 1.7;
}

.service-card a {
    position: absolute;
    bottom: 27px;
    color: #9a84ff;
    font-size: 0.76rem;
    font-weight: 600;
}

/*====== About ======*/

.about-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 90px;
}

.about-visual {
    position: relative;
    height: 430px;
}

.about-box {
    position: absolute;
    border: 1px solid #282837;
    background: #10101b;
    border-radius: 12px;
}

.box-main {
    width: 330px;
    height: 270px;
    left: 40px;
    top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    box-shadow: 30px 30px 70px rgba(0, 0, 0, 0.35);
}

.big-x {
    font-size: 6rem;
    font-weight: 800;
    color: #8b6cff;
}

.box-main strong,
.box-main small {
    display: block;
}

.box-main strong {
    font-size: 1.1rem;
}

.about-features {
    margin-top: 35px;
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}

.about-features div {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.about-features strong {
    color: #8b6cff;
    font-size: 0.7rem;
}

.about-features span {
    color: #aaaaba;
    font-size: 0.76rem;
}


/* ====== Contact Form ====== */

.contact-container {
    display: grid;
    grid-template-columns: 0.8fr 1.2fr;
    gap: 90px;
    align-items: start;
}

.contact-details {
    margin-top: 30px;
}

.contact-details > div {
    display: flex;
    align-items: center;
    gap: 13px;
    margin: 18px 0;
}

.contact-details > div > span {
    width: 38px;
    height: 38px;
    display: grid;
    place-items: center;
    background: rgba(124, 92, 255, 0.1);
    border-radius: 8px;
    color: #9c86ff;
}

.contact-details small,
.contact-details strong {
    display: block;
}

.contact-details small {
    color: #666677;
    font-size: 0.63rem;
}

.contact-details strong {
    font-size: 0.76rem;
    color: #aaaaba;
}

.contact-details strong {
    font-size: 0.76rem;
    color: #aaaaba;
}

.contact-form {
    padding: 30px;
    background: #0d0d18;
    border: 1px solid #1d1d2a;
    border-radius: 13px;
}

.form-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.form-group {
    margin-bottom: 18px;
}

.form-group label {
    display: block;
    color: #aaaaba;
    font-size: 0.7rem;
    margin-bottom: 7px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    background: #13131f;
    border: 1px solid #252534;
    color: white;
    padding: 12px 13px;
    border-radius: 7px;
    outline: none;
    resize: vertical;
    transition: 0.3s;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: #7659eb;
    box-shadow: 0 0 0 3px rgba(124, 92, 255, 0.08);
}

.form-group input::placeholder,
.form-group textarea::placeholder {
    color: #4e4e5d;
}

.submit-btn {
    border: none;
    background: #7c5cff;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.form-message {
    margin-top: 12px;
    color: #7fe0a7;
    font-size: 0.75rem;
}

/* ====== Footer ====== */

.footer {
    background: #06060d;
    border-top: 1px solid #181824;
}

.footer-container {
    padding: 60px 0;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.footer-brand p {
    max-width: 300px;
    margin-top: 12px;
    color: #626273;
    font-size: 0.72rem;
}

.footer-links {
    display: flex;
    gap: 70px;
}

.footer-links div {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.footer-links h4 {
    font-size: 0.75rem;
    margin-bottom: 5px;
}

.footer-links a {
    color: #686879;
    font-size: 0.7rem;
}

.footer-links a:hover {
    color: #9c87ff;
}

.footer-bottom {
    border-top: 1px solid #161620;
    padding: 18px 0;
}

.footer-bottom .container {
    display: flex;
    justify-content: space-between;
    color: #4f4f5e;
    font-size: 0.62rem;
}

/* ====== Responsive Design ====== */

@media (max-width: 900px) {
    .nav-links {
        position: absolute;
        top: 76px;
        left: 0;
        width: 100px;
        background: #0b0b14;
        border-bottom: 1px solid #222230;
        flex-direction: column;
        padding: 25px;
        gap: 20px;
        transform: translateY(-150%);
        transition: 0.35s;
    }

    .nav-links.active {
        transform: translateY(0);
    }

    .nav-btn {
        display: none;
    }

    .menu-btn {
        display: none;
    }

    .hero-container {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .hero-content > p {
        margin-left: auto;
        margin-right: auto;
    }

    .hero-btns {
        justify-content: center;
    }

    .services-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .growth-container {
        grid-template-columns: 1fr;
    }

    .about-container {
        grid-template-columns: 1fr;
    }

    .contact-container {
        grid-template-columns: 1fr;
    }

}

@media (max-width: 600px) {

    .container {
        width: 92%;
    }

    .hero {
        min-height: 780px;
    }

    .hero h1 {
        font-size: 3rem;
        letter-spacing: -2.5px;
    }

    .stats-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .stat {
        border-bottom: 1px solid #191924;
    }

    .services-grid {
        grid-template-columns: 1fr;
    }

    .service-card {
       min-height: 250px;
    }

    .section {
        padding: 80px 0;
    }

    .box-main {
        width: 270px;
        height: 220px;
        left: 0;
    }

    .form-row {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .contact-form {
        padding: 20px;
    }

    .footer-container {
        flex-direction: column;
    }

    .footer-links {
        gap: 45px;
    }

    .footer-bottom .container {
        flex-direction: column;
        gap: 8px;
    }

}









